<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akademia Techniczno-Humanistyczna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.8.0,npm/fullcalendar@5.8.0/main.min.js,npm/fullcalendar@5.8.0/locales-all.min.js,npm/fullcalendar@5.8.0/locales-all.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.8.0/main.min.css,npm/fullcalendar@5.8.0/main.min.css">
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/FontAwesome/Icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js"></script>
    <link rel="stylesheet" href="~/css/form.css" />

</head>
<body onload="clock();" onunload="stop();">

    <input type="checkbox" id="sidebar-toggle">

    @*SIDEBAR*@
    <div class="sidebar">
        <partial name="./_Sidebar" />
    </div>

    <div class="main-content">

        <header>
            <partial name="./_Header" />
        </header>

        <main>
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>