@page  "{departmentId}"
@model DeleteDepartmentModel
@inject IStringLocalizer<DeleteDepartmentModel> localizer
@{ ViewData["Title"] = "Delete"; }


<h2>@localizer["Delete"]!</h2>
<div class="alert alert-danger">
    @localizer["Are you sure you want to delete department?"]
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">
        @localizer["Yes"]!</button>
    <a asp-page="./DepartmentList" class="btn btn-default">@localizer["Cancel"]</a></form>
