@page "{subjectId}"
@model UniversityApp.Pages.ManagementPanel.EditSubjectModel
@inject IStringLocalizer<EditSubjectModel> localizer
@{
}


<h2>@localizer["Editing"]</h2>

<form method="post">

    <input type="hidden" asp-for="@Model.Subjects.SubjectId" />

    <div class="form-group">
        <label asp-for="Subjects.SubjectName"></label>
        <input asp-for="Subjects.SubjectName" class="form-control" />
        <span class="text-danger" asp-validation-for="Subjects.SubjectName"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>

<div>
    <a asp-page="./SubjectList">@localizer["Back to List"]</a>
</div>