@page
@model UniversityApp.Areas.Identity.Pages.Account.LoginModel
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Akademia Techniczno-Humanistyczna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                <div class="img-left d-none d-md-flex">
                    @*<div class="img-left-header">
                            <img src="../img/company_logo_ath.png" />
                        </div>*@
                </div>

                <div class="card-body">

                    <h4 class="title text-center mt-4">
                        Zaloguj się na konto
                    </h4>

                    <section>
                        <form class="form-box px-3" method="post" asp-route-returnUrl="@Model.ReturnUrl">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            @* Email *@
                            <div class="form-input">
                                <span><i class="fa fa-user-o"></i></span>
                                <input asp-for="Input.Email" placeholder="Adres email" tabindex="10" required>
                            </div>

                            @*  password *@
                            <div class="form-input">
                                <span><i class="fa fa-key"></i></span>
                                <input asp-for="Input.Password" placeholder="Hasło" required>
                            </div>

                            @* remember me *@
                            <div class="mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="Input.RememberMe" class="custom-control-input" id="cb1" name="">
                                    <label class="custom-control-label" for="cb1">
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            @* Login button *@
                            <div class="mb-3">
                                <button type="submit" class="btn btn-block text-uppercase">
                                    Logowanie
                                </button>
                            </div>


                            @* Forgot password *@
                            <div class="text-right">
                                <a asp-page="./ForgotPassword" class="forget-link">
                                    Zapomniałeś hasła?
                                </a>
                            </div>

                            <div class="text-center mb-3">
                            </div>

                            <hr class="my-4">

                            @* Button for info *@
                            <div class="mb-3">
                                <a asp-page="../ManagementPanel/Guest" class="btn btn-block btn-social btn-facebook">
                                    Sprawdź dlaczego się zapisać!
                                </a>
                            </div>

                            <hr class="my-4">


                            @* Dont have acount footer *@
                            <div class="text-center mb-2">
                                Nie masz konta?
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="register-link">
                                    Rejestracja tutaj
                                </a>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
