@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Dziękujemy za rejestrację";
}

<h1>@ViewData["Title"]</h1>

<p>
    Dziękujemy za dołączenie do systemu. W celu zalogowania się. Administrator musi zaakceptować Cię do społeczności. Bądź cierpliwy!
</p>